.input input {
  width: 25rem;
  margin: 5px 10px 5px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #31644a7e;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

.input input:focus {
  border: 2px solid #31644a;
}

.btn {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 10px 0;
}

.messageBox {
  width: 97%;
}
