.Header {
  background-color: #31644a;
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  padding: 20px;
}

.Navbar {
  padding: 20px;
}

.Image {
  width: 64px;
  height: 64px;
}
