.table,
th,
td {
  border-bottom: 1px solid black;
  width: auto;
  border-collapse: collapse;
  padding: 4px;
}

.tableHover:hover {
  background-color: #00641634;
}

.tdCenter {
  text-align: center;
}

.tdNA {
  text-align: center;
  color: rgba(0, 0, 0, 0.226);
}
