.LoginContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.LoginContainer .btn {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 10px 0;
}

.LoginContainer .messageBox {
  width: auto;
}
